<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <form action='/blog/comments' method="post">
        <div> 
            <label>BlogId: <input type="text" name="blogIdField" /></label>
            </br>
            <label>Message: <input type="text" name="messageField" /></label>
            </br>
            <label>replyUserName: <input type="text" name="replyUserNameField" /></label>
            </br>
            <label>replyUserId: <input type="text" name="replyUserIdField" /></label>
            </br>
            <label>replyUserImage: <input type="text" name="replyUserImageField" /></label>
            </br>
        </div>
        <input type="submit" value="submit" />  
    </form>
    <form action='/blog/comments/delete' method="post">
        <div> 
            <label>BlogId: <input type="text" name="blogIdField" /></label>
            </br>
            <label>CommentId: <input type="text" name="commentIdField" /></label>
            </br>
        </div>
        <input type="submit" value="submit" />  
    </form>
  </body>
</html>