<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <form action='/blog/likes' method="post">
        <div> 
            <label>BlogID: <input type="text" name="blogIdField" /></label>
            </br>
        </div>
        <input type="submit" value="likessubmit" />  
    </form>
    <form action='/blog/likes/delete' method="POST">
        <div> 
            <label>BlogID: <input type="text" name="blogIdField" /></label>
            </br>
        </div>
        <input type="submit" value="unlikessubmit" />  
    </form>
  </body>
</html>
