<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <form action="/signup" method="post" enctype="multipart/form-data">
        <div> 
            <input type="file" name="userImageFile" />
            </br>
            <label>First Name: <input type="text" name="firstNameField" /></label>
            </br>
            <label>Last Name: <input type="text" name="lastNameField" /></label>
            </br>
            <label>User Name: <input type="text" name="userNameField" /></label>
            </br>
            <label>Email: <input type="text" name="emailField" /></label>
            </br>
            <label>Pass Word: <input type="text" name="passwordField" /></label>
            </br>
            <label>Re Pass Word: <input type="text" name="rePasswordField" /></label>
            </br>
            <label>Gender: <input type="text" name="genderField" /></label>
        </div>
        <input type="submit" value="submit" />  
    </form>
  </body>
</html>
