<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <form action='/signin' method="post">
        <div> 
            <label>Account: <input placeholder="user name or email" type="text" name="accountField" /></label>
            </br>
            <label>Password: <input type="text" name="passwordField" /></label>
            </br>
        </div>
        <input type="submit" value="submit" />  
    </form>
  </body>
</html>
